<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ConnectionString" value="Data source = LAPTOP-HKNDU702; Initial Catalog = DB_Doi7; User ID =dochiluc2003; Password=123" />

	</appSettings>
</configuration>